output "DP-3" {
	mode "2560x1440@144.006"
	position x=0 y=0
	hot-corners {
	    off
	}
}
output "DP-4" {
	mode "1920x1020@144.001"
	position x=2560 y=380
	hot-corners {
	    off
	}
}
output "HDMI-A-3" {
	off
	mode "1920x1080@60"
	hot-corners {
	    off
	}
}
